.products-container{
	max-width:650px;
	justify-content: center;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 100px;
	display:flex;
	flex-wrap:wrap;
}

.product-header{
	width:100%;
	max-width:650px;
	display:flex;
	justify-content:flex-start;
	border-bottom:4px solid lightgrey;
	margin: 0 auto
}

.product-title{
	width:45%
}

.price{
	width:15%;
	display : flex;
	align-items:center;
}

.quantity{
	width:30%;
	display : flex;
	align-items:center;
}

.total{
	width:10%;
	display : flex;
	align-items:center;
}

.product{
	width:45%;
	display: flex;
	justify-content:space-around;
	align-items:center;
	padding:10px 0;
	border-bottom:1px solid lightgrey;
}

.totalCostContainer"{
	display:flex;
	justify-content:flex-end;
	width:100%;
	padding:10px 0;
}

.totalTitle{
	width :30%;
}

.totalCost{
	width:10%;
}
